
footer {
    padding-top: 11%;
    background: url(../images/bg-footer-top-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}
.footer__container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: hsl(192, 100%, 9%);
}

@media (min-width: 768px) {
    footer {
        padding-top: 11%;
        background: url(../images/bg-footer-top-desktop.svg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .footer__container {
        padding-left: unset;
        padding-right: unset;
    }
}