@import './variables.scss';

.masthead {
    text-align: center;
    margin: 16px;
    margin-top: 125px;
}

.heading {
    font-family: Poppins;
    font-weight: 700;
    color: hsl(192, 100%, 9%);
}

@media (min-width: 768px) {
    .masthead {
        padding-left: $section_padding_desktop;
        padding-right: $section_padding_desktop;
    }
}

