@import url("https://fonts.googleapis.com/css?family=Open Sans:400, 600, 700bold&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:700bold&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-weight: normal;
  font-size: 16px;
  background-color: white; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

figure > img {
  max-width: 100%; }

figcaption {
  display: none; }

p {
  line-height: 1.5; }

.get-started, .try {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  line-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

.get-started {
  margin-top: 32px;
  margin-bottom: 32px; }

.get-started__btn {
  padding: 1.5rem 3rem;
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
  border-radius: 1000px;
  border: none;
  color: white;
  font-weight: 400;
  background-color: #ff52bf; }

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  align-items: center; }

body > header > h1 img {
  width: 146px; }

.try__btn {
  padding: .8rem 2rem;
  border-radius: 100px;
  display: inline-block;
  cursor: pointer;
  border-radius: 1000px;
  border: 2px solid #ff8fd8;
  color: #ff8fd8;
  font-weight: 400; }

.try__btn:hover {
  -webkit-box-shadow: -1px 1px 8px -2px #ff8fd8;
  box-shadow: -1px 1px 8px -2px #ff8fd8; }

@media (min-width: 768px) {
  body > header {
    margin-left: unset;
    margin-right: unset;
    padding-left: 5%;
    padding-right: 5%; } }

.masthead {
  text-align: center;
  margin: 16px;
  margin-top: 125px; }

.heading {
  font-family: Poppins;
  font-weight: 700;
  color: #00252e; }

@media (min-width: 768px) {
  .masthead {
    padding-left: 5%;
    padding-right: 5%; } }

.section__illustration {
  margin: 16px; }

.section__illustration div {
  max-width: 182px;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem; }

.section__illustration h3 {
  font-family: Poppins;
  color: #00252e;
  font-size: 50px;
  margin: 0; }

.section__illustration i {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-size: contain;
  width: auto;
  height: auto;
  background-position: left; }

.illustration__communities i {
  background-image: url(../images/icon-communities.svg); }

.illustration__messages i {
  background-image: url(../images/icon-messages.svg); }

.section__illustration p {
  margin: 0; }

@media (min-width: 768px) {
  .section__communities {
    padding-left: 10%;
    padding-right: 10%; }
  .section__illustration {
    display: flex;
    flex-direction: row; } }

.section__grow--together {
  padding-top: 26%;
  padding-bottom: 13%;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  background: url(../images/bg-section-top-mobile-1.svg), url(../images/bg-section-bottom-mobile-1.svg);
  background-position: center top, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain; }

.section__grow--together .section__container {
  background-color: #f5faff;
  padding-left: 16px;
  padding-right: 16px; }

.section__grow--together h1 {
  font-family: 'Poppins';
  font-weight: 700;
  color: #00252e; }

@media (min-width: 768px) {
  .section__grow--together {
    padding-top: 10%;
    padding-bottom: 9%;
    background: url(../images/bg-section-top-desktop-1.svg), url(../images/bg-section-bottom-desktop-1.svg);
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain; }
  .section__grow--together .section__container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 6rem;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%; } }

.section__flowing--conversations {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 4rem;
  padding-bottom: 4rem; }

@media (min-width: 768px) {
  .section__flowing--conversations {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding-left: 5%;
    padding-right: 5%;
    margin: unset; } }

.section__your--users {
  padding-top: 26%;
  padding-bottom: 25%;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  background: url(../images/bg-section-top-mobile-2.svg), url(../images/bg-section-bottom-mobile-2.svg);
  background-position: center top, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain; }

.section__your--users .section__container {
  background-color: #f5faff;
  padding-left: 16px;
  padding-right: 16px; }

@media (min-width: 768px) {
  .section__your--users {
    padding-top: 10%;
    padding-bottom: 9%;
    background: url(../images/bg-section-top-desktop-2.svg), url(../images/bg-section-bottom-desktop-2.svg);
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain; }
  .section__your--users .section__container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 6rem;
    text-align: left;
    padding-left: 5%;
    padding-right: 5%; } }

.section__communication--guide {
  padding-top: 26%;
  padding-bottom: 25%;
  text-align: center; }

footer {
  padding-top: 11%;
  background: url(../images/bg-footer-top-mobile.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  color: white; }

.footer__container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #00252e; }

@media (min-width: 768px) {
  footer {
    padding-top: 11%;
    background: url(../images/bg-footer-top-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain; }
  .footer__container {
    padding-left: unset;
    padding-right: unset; } }
